html {
  width: 100% !important;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: auto;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
  z-index: -1;
}

.Home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1111644f;
  height: 100vh;
}

.Home h1 {
  color: #660000;
}

.Home h1:hover {
  scale: 2x;
}

.About {
  background-color: black;
}

.About div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #660000;
  padding: 10px;
}

.Projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
}

.Projects .Projectlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f1d9d9;
}

.Projects .Projectlist h1 {
  color: #660000;
}

.Projects .Projectlist li {
  list-style: none;
  background-color: #f1d9d9;
  position: relative;
  z-index: 2;
  padding: 10px;
}

.Projects .Projectlist li a h2 {
  text-decoration: underline;
}

.Projects .Projectlist .Project {
  text-decoration: none;
}

.Projects .Projectlist .Project::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #cbe4ec;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.Projects .Projectlist .Project:hover::before, .Projects .Projectlist .Project:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3a3737;
}

.Footer .Logos {
  margin: 5px;
}

.Footer .Logos img {
  margin: 6px;
}

.Footer .Logos .React-logo {
  -webkit-animation: rotation 5s infinite linear;
          animation: rotation 5s infinite linear;
}

.Footer .Logos .Sass-logo {
  -webkit-transform: rotateX(40deg);
          transform: rotateX(40deg);
  -webkit-animation: sass 2s infinite;
          animation: sass 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes sass {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(50deg);
            transform: rotateX(50deg);
  }
}

@keyframes sass {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(50deg);
            transform: rotateX(50deg);
  }
}

@media (min-width: 434px) {
  .Projectlist li {
    margin-right: 20px;
    margin-left: 20px;
  }
}

/* SCROLL BAR*/
* ::-webkit-scrollbar {
  width: 10px;
}

* ::-webkit-scrollbar-track {
  background: #3a3737;
}

* ::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 8px;
  border: 2px dashed #660000;
}

* ::-webkit-scrollbar-thumb:hover {
  background-color: #660000;
  border-radius: 8px;
  border: 2px dashed #000000;
}
/*# sourceMappingURL=style.css.map */