
$HomeBackgroundColor : #1111644f;
$AboutBackgroundColor : rgb(0, 0, 0);
$ProjectsBackgroundColor : #000000;
$ProjectListBackgroundColor : rgb(241, 217, 217);
$ProjectBackgroundColor : rgb(241, 217, 217);
$FooterBackgroundColor : #3a3737;

@mixin flexCenterWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

html {
  width: 100% !important;
}


*, *::before, *::after {
  box-sizing: border-box;
  overflow-x: auto;
  font-family: "Courier";
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  z-index: -1;
  filter: brightness(10%);
}



.Box {

  .Preview {
    max-width: 100px;
    z-index: 5;
    padding: 25px;
    position: fixed;
    top: 50%;
    background: rgb(218, 68, 9);
    transition: 1s;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    .MoreInfo {
      transition: 1s;
      left:-300px;
      z-index: 5;
      padding: 25px;
      position: fixed;
      top: 40%;
      background: rgb(9, 218, 103);
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      p {
        color: #000000;
      }
    }

    p {
      color: #d8d8d8;
    }

    &:active, &:hover{
      p {
        color:#a80000;
      }
      .MoreInfo {
        transition: 1s;
        z-index: 6;
        left:0px;
      }
    }
  }
}




.Home {
  @include flexCenterWrap();
  background-color: $HomeBackgroundColor;
  height: 100vh;
  z-index: 3;

  h1 {
    color: #ffa1a1;
    font-size: 300%;
    padding: 70px;
    transition: 1000ms;
    &:hover {
      text-shadow: rgba(255, 174, 0, 0.63) 0px 0px 70px;
      transition: 1000ms;
    }
  }
}





@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}



@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.About {
  background-color: $AboutBackgroundColor;
  box-shadow: -1px 20px 60px 18px rgba(0, 0, 0, 0.979);
  transition: 1000ms;
  div {
    @include flexCenterWrap();

    color: #ffa1a1;


    p {

      border-right: .15em solid orange;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 0;

      &:nth-child(2){
        width: 33em;
        opacity: 0;
        animation: type 5s steps(55, end), blink .3s step-end infinite alternate;
        animation-fill-mode: forwards;
      }
      &:nth-child(3){
        width: 22em;
        opacity: 0;
        animation: type 5s steps(37, end), blink .3s step-end infinite alternate;
        animation-fill-mode: forwards;
        animation-delay: 5.1s;
      }
      &:nth-child(4){
        width: 19em;
        opacity: 0;
        animation: type 5s steps(31, end), blink .3s step-end infinite alternate;
        animation-fill-mode: forwards;
        animation-delay: 10.2s;
      }
      &:nth-child(5){
        width: 31em;
        opacity: 0;
        animation: type 5s steps(51, end), blink .3s step-end infinite alternate;
        animation-fill-mode: forwards;
        animation-delay: 15.3s;
      }
    }
    /*
    padding: 10px;
    p {
      font-size: 120%;
    }
    */
  }
  &:hover {
    box-shadow: -1px 20px 60px 18px rgba(255, 0, 0, 0.979);
    transition: 1000ms;
  }
}











.Projects {
  @include flexCenterWrap();
  //background-color: $ProjectsBackgroundColor;

  background:
    url(./overlay_trfi.png);

  .Projectlist {
    @include flexCenterWrap();
    //background-color: $ProjectListBackgroundColor;


    h1 {
      color: #660000;
    }

    li {
      list-style: none;
      //background-color: $ProjectBackgroundColor;
      position: relative;
      z-index: 2;
      padding: 10px;
      border-radius: 25px;
      max-width: 65%;

      a h2{text-decoration: underline;}
    }


    .Project {
      text-decoration: none;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background: linear-gradient(90deg, rgba(255, 233, 242, 0.479) 0%, rgba(255, 90, 90, 0.363) 100%);
        transform: scaleX(0);
        //transform-origin: left;
        transition: 400ms;
        filter: blur(50px);
      }

      &:hover::before, &:focus::before {
        transform: scaleX(1);

      }


    }

  }

}


.Footer {
  @include flexCenterWrap();
  background-color: $FooterBackgroundColor;

  &:hover {
    filter: hue-rotate(180deg);
  }

  .Logos {
    margin: 5px;

    img {
      margin: 6px;
    }

    .React-logo {
      animation: rotation 5s infinite linear;
      &:hover {
        filter: hue-rotate(180deg);
      }
    }

    .Sass-logo {
      transform: rotateX(40deg);
      animation: sass 2s infinite;
      animation-direction: alternate;
      &:hover {
        filter: hue-rotate(180deg);
      }
    }
  }

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes sass {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(50deg);
  }
}

@media (min-width:434px) {

  .Projectlist li {
     margin-right: 20px;
     margin-left: 20px;
  }
}


/* SCROLL BAR*/
* ::-webkit-scrollbar {
  width: 10px;
}

* ::-webkit-scrollbar-track {
  background: #3a3737;
}

* ::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 8px;
  border: 2px dashed #660000;
}

* ::-webkit-scrollbar-thumb:hover {
  background-color: #660000;
  border-radius: 8px;
  border: 2px dashed #000000;
}

