html {
  width: 100% !important;
  z-index: 0;
}

*, *::before, *::after {
  z-index: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: auto;
  font-family: "Courier";
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.9;
  z-index: -1;
  -webkit-filter: brightness(20%);
          filter: brightness(20%);
}

.Home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1111644f;
  height: 100vh;
  z-index: -2;
}

.Home h1 {
  color: #ffa1a1;
  font-size: 300%;
  padding: 70px;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.Home h1:hover {
  text-shadow: rgba(255, 174, 0, 0.63) 0px 0px 70px;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.Box .Preview {
  max-width: 100px;
  z-index: 2;
  padding: 25px;
  position: fixed;
  top: 50%;
  background: #5c4d4d;
  -webkit-transition: 1s;
  transition: 1s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  /*
    &:active, &:hover{
      .MoreInfo {
        transition: 1s;
        left:0px;
      }
    }
    */
}

.Box .Preview .MoreInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  left: -300px;
  z-index: 3;
  padding: 25px;
  position: fixed;
  top: 40%;
  background: #5c4d4d;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.Box .Preview .MoreInfo .ProfilePic {
  border-radius: 50%;
  width: 80px;
}

.Box .Preview .MoreInfo p {
  color: #ffa1a1;
  margin: 0px;
}

.Box .Preview .MoreInfo ul {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
}

.Box .Preview .MoreInfo ul li {
  padding: 20px;
  width: 80px;
  height: 80px;
}

.Box .Preview .MoreInfo ul li a img {
  width: 30px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: invert(56%) sepia(9%) saturate(1868%) hue-rotate(312deg) brightness(127%) contrast(101%);
          filter: invert(56%) sepia(9%) saturate(1868%) hue-rotate(312deg) brightness(127%) contrast(101%);
}

.Box .Preview .MoreInfo ul li a img:hover {
  -webkit-transform: scale(1.7) rotate(360deg);
          transform: scale(1.7) rotate(360deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.Box .Preview p {
  color: #ffa1a1;
}

.Box:active .MoreInfo, .Box:hover .MoreInfo {
  -webkit-transition: 1s;
  transition: 1s;
  left: 0px;
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.About {
  z-index: 1;
  background-color: black;
  -webkit-box-shadow: -1px 20px 60px 18px rgba(0, 0, 0, 0.979);
          box-shadow: -1px 20px 60px 18px rgba(0, 0, 0, 0.979);
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.About div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffa1a1;
  /*
    padding: 10px;
    p {
      font-size: 120%;
    }
    */
}

.About div p {
  border-right: .15em solid orange;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
}

.About div p:nth-child(2) {
  width: 33em;
  opacity: 0;
  -webkit-animation: type 5s steps(55, end), blink 0.3s step-end infinite alternate;
          animation: type 5s steps(55, end), blink 0.3s step-end infinite alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.About div p:nth-child(3) {
  width: 22em;
  opacity: 0;
  -webkit-animation: type 5s steps(37, end), blink 0.3s step-end infinite alternate;
          animation: type 5s steps(37, end), blink 0.3s step-end infinite alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
}

.About div p:nth-child(4) {
  width: 19em;
  opacity: 0;
  -webkit-animation: type 5s steps(31, end), blink 0.3s step-end infinite alternate;
          animation: type 5s steps(31, end), blink 0.3s step-end infinite alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 10.2s;
          animation-delay: 10.2s;
}

.About div p:nth-child(5) {
  width: 31em;
  opacity: 0;
  -webkit-animation: type 5s steps(51, end), blink 0.3s step-end infinite alternate;
          animation: type 5s steps(51, end), blink 0.3s step-end infinite alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 15.3s;
          animation-delay: 15.3s;
}

.About:hover {
  -webkit-box-shadow: -1px 20px 60px 18px rgba(255, 0, 0, 0.979);
          box-shadow: -1px 20px 60px 18px rgba(255, 0, 0, 0.979);
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.Projects {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(./overlay_trfi.png);
}

.Projects .Projectlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Projects .Projectlist h1 {
  color: #660000;
}

.Projects .Projectlist li {
  list-style: none;
  position: relative;
  z-index: 1;
  padding: 10px;
  border-radius: 25px;
  max-width: 65%;
}

.Projects .Projectlist li a h2 {
  text-decoration: underline;
}

.Projects .Projectlist .Project {
  text-decoration: none;
}

.Projects .Projectlist .Project::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 233, 242, 0.479)), to(rgba(255, 90, 90, 0.363)));
  background: linear-gradient(90deg, rgba(255, 233, 242, 0.479) 0%, rgba(255, 90, 90, 0.363) 100%);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.Projects .Projectlist .Project:hover::before, .Projects .Projectlist .Project:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.Footer {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3a3737;
}

.Footer:hover {
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
}

.Footer .Logos {
  margin: 5px;
}

.Footer .Logos img {
  margin: 6px;
}

.Footer .Logos .React-logo {
  -webkit-animation: rotation 5s infinite linear;
          animation: rotation 5s infinite linear;
}

.Footer .Logos .React-logo:hover {
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
}

.Footer .Logos .Sass-logo {
  -webkit-transform: rotateX(40deg);
          transform: rotateX(40deg);
  -webkit-animation: sass 2s infinite;
          animation: sass 2s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.Footer .Logos .Sass-logo:hover {
  -webkit-filter: hue-rotate(180deg);
          filter: hue-rotate(180deg);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes sass {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(50deg);
            transform: rotateX(50deg);
  }
}

@keyframes sass {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(50deg);
            transform: rotateX(50deg);
  }
}

@media (min-width: 434px) {
  .Projectlist li {
    margin-right: 20px;
    margin-left: 20px;
  }
}

/* SCROLL BAR*/
* ::-webkit-scrollbar {
  width: 10px;
}

* ::-webkit-scrollbar-track {
  background: #3a3737;
}

* ::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 8px;
  border: 2px dashed #660000;
}

* ::-webkit-scrollbar-thumb:hover {
  background-color: #660000;
  border-radius: 8px;
  border: 2px dashed #000000;
}
/*# sourceMappingURL=style.css.map */